<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="details content">
                <h2>
                    <%= note.title %>
                </h2>
                <p>
                    <%= note.body %>
                </p>
                <button class="update" data-doc="<%= note._id %>"><i class="fa-solid fa-edit"></i></button>
                <button class="delete" data-doc="<%= note._id %>"><i class="fa-solid fa-trash"></i></button>
            </div>

            <script>
                const trash = document.querySelector('button.delete');
                trash.addEventListener('click', (e) => {
                    const endpoint = `/${trash.dataset.doc}`;
                    fetch(endpoint, {
                        method: 'DELETE'
                    })
                        .then(response => response.json())
                        .then(data => window.location.href = data.redirect)
                        .catch(err => console.log(err));
                });

                const edit = document.querySelector('button.update');
                edit.addEventListener('click', () => {
                    alert('Sorry, this feature is not yet available.');
                })
            </script>

    </body>

</html>