<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="notes content">
                <div class="note-section">
                    <% if (notes.length> 0) { %>
                        <% notes.forEach(note=> { %>
                            <div class="note-card">
                                <a href="/<%= note.id %>" class="single">
                                    <h3 class="title">
                                        <%= note.title %>
                                    </h3>
                                    <p class="body">
                                        <%= note.body %>
                                    </p>
                                </a>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <h3>Add a note to display it
                                        here!</h3>
                                    <% } %>
                </div>
            </div>

    </body>

</html>