<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="notes content">
                <div class="note-section">
                    <% if (notes.length> 0) { %>
                        <% notes.forEach(note=> { %>
                            <div class="note-card">
                                <h3 class="title"><%= note.title %></h3>
                                <p class="body"><%= note.body %></p>
                                <div class="note-actions">
                                    <a class="update" href="/edit/<%= note._id%>">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                    <a class="delete" href="/<%= note._id%>"
                                        onclick="return confirm('Delete this note?')">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <h3>Add a note to display it
                                        here!</h3>
                                    <% } %>
                </div>
            </div>

    </body>

</html>